# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=food_d2c

# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_STZeCvuVRxPPby
RAZORPAY_KEY_SECRET=0iPyAtpTpOxGZ9Gkczj62l07
RAZORPAY_WEBHOOK_SECRET=your_actual_webhook_secret_here


# App Configuration
PORT=3000
NODE_ENV=development
