@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: var(--font-sans)
  }
  :root {
    --background: #ffffff;
    --foreground: #111827;
    --card: #ffffff;
    --card-foreground: #111827;
    --popover: #ffffff;
    --popover-foreground: #111827;
    --primary: #111827;
    --primary-foreground: #f9fafb;
    --secondary: #f3f4f6;
    --secondary-foreground: #111827;
    --muted: #f9fafb;
    --muted-foreground: #6b7280;
    --accent: #f9fafb;
    --accent-foreground: #111827;
    --destructive: #ef4444;
    --destructive-foreground: #fef2f2;
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #d1d5db;
    --radius: 0.35rem;
  }
  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;
    --card: #0f172a;
    --card-foreground: #f8fafc;
    --popover: #0f172a;
    --popover-foreground: #f8fafc;
    --primary: #f8fafc;
    --primary-foreground: #0f172a;
    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;
    --muted: #1e293b;
    --muted-foreground: #94a3b8;
    --accent: #1e293b;
    --accent-foreground: #f8fafc;
    --destructive: #7f1d1d;
    --destructive-foreground: #fef2f2;
    --border: #334155;
    --input: #334155;
    --ring: #475569;
  }
}